body {
    background-color: #00aaff; /* Sky blue background */
    color: white; /* White text for contrast */
    font-size: 18px;
}
  * {
    margin: 0;  /* Removes default margin */
    padding: 0; /* Removes default padding */
    box-sizing: border-box; /* Ensures padding and border don't affect width/height */
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size:18px;
    padding:15px;
    text-align:center;
}
.nav ul{
  list-style: none; 
  padding: 20px;
  margin: 5px;
  overflow: hidden;
  background-color: greenyellow;
  border-radius: 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}
.nav  li {
  float: left;
}
.nav li a {
  display: inline-block; 
  color:black;
   text-decoration: none;
  padding: 4px 10px;
  text-align:center;
  font-size: 10px;
}
.nav li a:hover{
  background-color: white;
}
.nav li a:active{
  background-color: black;
}
.hi {

    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: #28a745;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    margin: 10px auto;
}
.bn {
    background-color: #00aaff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s; 
    border: 1px solid greenyellow;
   margin: 25px;
}
.bn a {
  text-decoration: none;
}

.bn:hover {
    background-color: black; /* Slightly darker blue on hover */
}
/* Small screen (phones) */
@media (max-width: 480px) {
    nav {
        flex-direction: column;
        text-align: center;
    }
    background-color:darkblue;
}

        


.footer{
  
    background-color: greenyellow; /* Dark background for contrast */
    color: black; /* White text for readability */
    text-align: center; /* Center-align the text */
    padding: 20px; /* Add space inside the footer */
    font-size: 16px; /* Adjust font size */
    font-family: Arial, sans-serif; /* Set font */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
   border-radius: 20px;
}

footer a {
    color: #00aaff; /* Highlight links in blue */
    text-decoration: none; /* Remove underline */
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline; /* Underline links on hover */
}
 @media (max-width: 768px) {
    nav {
        font-size: 20px;
        padding: 20px;
        flex-direction: column;
    }

    nav a {
        font-size: 20px;
        padding: 12px 18px;
    }

    button {
        font-size: 22px;
        padding: 15px 25px;
         width: 100%;
    }
    
       
    
    h1{
        font-size:2rem;
    } 
    p{ 
        font-size:1rem
    }
     background-color:darkyellow;
}

